<!DOCTYPE html>
<%- layout("./layouts/boilerplate.ejs") %>
<body>
  <div class="row mt-3 p-1 p-md-3">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
      <h2 class="col-12 text-dark text-center" style="font-weight: 700">
        Edit The Listing
        <p style="font-weight: 300 ; font-size: small;"><%=curListing._id %></p>
      </h2>
      <form
        action="/listings/<%=curListing._id %>?_method=PUT"
        method="post"
        enctype="multipart/form-data"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3">
          <label for="listing_title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            id="listing_title"
            class="form-control"
            placeholder="Enter the Catchy Title"
            value="<%= curListing.title %>"
            required
          />
          <div class="valid-feedback">Title looks Good!</div>
        </div>

        <div class="mb-3">
          <label for="description">Description</label>
          <textarea
            required
            name="listing[description]"
            id="description"
            class="form-control"
          >
<%=curListing.description.trim()%></textarea
          >

          <div class="invalid-feedback">please Enter a Short description</div>
        </div>

        <div class="mb-3">
          <label for="originalImage" class="form-label">Original Image</label>
          <div></div>
          <img
            src="<%= OriginalImageUrl %>"
            id="originalImage"
            width="200px"
            alt="Original Image"
          />
        </div>

        <div class="mb-3">
          <label for="image_url" class="form-label">Upload New Image</label>
          <input
            type="file"
            name="listing[image]"
            id="image_url"
            class="form-control"
          />
        </div>

        <div class="row" style="margin: 0;padding: 0;">
          <div class="mb-3 col-12 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              class="form-control"
              placeholder="1200"
              id="price"
              value="<%= curListing.price %>"
              required
            />
            <div class="invalid-feedback">Price Should be valid</div>
          </div>

          <div class="mb-3 col-12 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              placeholder="India"
              class="form-control"
              id="country"
              value="<%= curListing.country %>"
              required
            />
            <div class="invalid-feedback">Country name should be valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            id="location"
            class="form-control"
            name="listing[location]"
            placeholder="Bhopal,MadhyaPradesh"
            value="<%= curListing.location %>"
            required
          />
          <div class="invalid-feedback">Location name should be valid</div>
        </div>
        <div class="mb-3 col-3 mt-3 row">
          <button type="submit" class="btn add-button col-12">Submit</button>
        </div>
      </form>
    </div>
  </div>
</body>
