<%- layout("./layouts/boilerplate.ejs") %>
<body>
  <div class="mx-md-3 row mt-3 mx-1">
    <div class="col col-lg-9 col-md-7 col-sm-6">
      <div style="overflow-x: scroll;" class=" filters align-items-center d-flex text-center justify-content-between  flex-no-wrap">
        <div class="filter" >
          <i class="fa-solid fa-fire"></i>
          <p>Trending</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-bed"></i>
          <p>Rooms</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-city"></i>
          <p>Iconic Cities</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-snowflake"></i>
          <p>Artic</p>
        </div>
        <div class="filter">
          <i class="fa-brands fa-fort-awesome"></i>
          <p>Castles</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-tents"></i>
          <p>Camping</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-tractor"></i>
          <p>Farms</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-mountain"></i>
          <p>Mountain</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-fire"></i>
          <p>Beaches</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-gem"></i>
          <p>Caves</p>
        </div>
        <div class="filter">
          <i class="fa-solid fa-water"></i>
          <p>River Front</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-6">
      <div
        class="form-switch form-control p-3 d-flex align-items-center border-dark barder-3 justify-content-between"
      >
        <label for="flexSwitchCheckDefault" class=" fw-bold form-check-label">
          Display price after tax</label
        >
        <input
          class="form-check-input"
          style="width: 50px; height: 25px"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
      </div>
    </div>
  </div>

  <div class="row row-cols-lg-4 row-cols-md-3 g-0 row-cols-1 row-cols-sm-2  mt-3 mx-md-3 mx-1">
    <% for (let listing of allListing) { %>
    <a
      href="/listings/<%= listing._id%>"
      style="text-decoration: none"
      class="p-2"
    >
      <div class="card col listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          style="aspect-ratio: 16/17"
          alt="<%= listing.image.filename %>"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body px-1">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="card-text">
            &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
            <span class="tax-info" style="color: rgb(49, 41, 41); display: none"
              >&nbsp;&nbsp;+18% GST</span
            >
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
<script>
  let element = document.getElementById("flexSwitchCheckDefault");
  element.addEventListener("click", (e) => {
    let taxinfos = document.getElementsByClassName("tax-info");
    for (taxinfo of taxinfos) {
      taxinfo.style.display =
        taxinfo.style.display == "none" ? "inline" : "none";
    }
  });
</script>
