<%- layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-12 col-md-10 col-lg-8 col-xl-7 mx-auto">
    <h3 class="card-text p-0 fw-bold mt-2 col-12 col-md-8" style="color: rgb(15, 15, 15)"><%= curListing.title %> :</h3>

    <div class="card border-0 mt-3">
      <img
        src="<%=curListing.image.url %>"
        class="card-img-top"
        style="max-height: 400px"
        alt="<%= curListing.image.filename%>"
      />
      <div class="card-body p-0 mt-3">
        <p class="card-text" style="text-align: justify;"><%= curListing.description %></p>
        <h4 style="color: rgb(2, 74, 146)" class="card-text">
          Price: &#8377;<%= curListing.price.toLocaleString("en-IN") %>
        </h5>
        <p class="card-text">
          <b style="color: rgb(188, 8, 50)"> Location : </b><%=
          curListing.location %> &nbsp;&nbsp;
          <b style="color: rgb(222, 23, 63)"> Country : </b><%=
          curListing.country %> <br />
        </p>
      </div>
      <% if(currUser&&currUser._id.equals(curListing.owner._id)) {%>
      <div class="btns row mt-3">
        <form action="/listings/<%= curListing._id%>/edit" class=" col-5 col-md-3 p-0" method="get">
          <button class="btn btn-primary edit-btn col-12" type="submit">
            Edit Listing
          </button>
        </form>
        <form
          action="/listings/<%= curListing._id %>?_method=DELETE"
          method="post"
          class="col-5 ms-auto ms-md-0 col-md-3 p-0"
        >
          <button class="btn btn-primary delete-btn col-12" type="submit">
            Delete Listing
          </button>
        </form>
        <div class=" col-12 col-md-4 ms-auto mb-3" style="font-weight: 600;">
          <h5 class="card-text p-1 border text-center col-12" style="color: rgb(15, 15, 15)">
            Listed by :  <%= curListing.owner.username.toUpperCase() %>
          </h5>
        </div>
      </div>
      <% } else{ %>
        <div class=" col-12 mt-3" style="font-weight: 600;">
          <h5 class="card-text p-1 border text-center col-12" style="color: rgb(15, 15, 15)">
            Listed by :  <%= curListing.owner.username.toUpperCase() %>
          </h5>
        </div>

      <% } %>

    </div>
    <% if(currUser) {%>
    <hr class="mb-2"/>
    <div class="mt-3">
      <h4 class>Leave The Review:</h4>
      <form
        action="/listings/<%=curListing._id%>/reviews"
        method="post"
        class="needs-validation"
        novalidate
      >
        <div class="form-group mt-3">
          <label class="form-label">Rating:</label>
          <fieldset class="starability-slot">
            <input
              type="radio"
              id="first-rate1"
              name="review[rating]"
              value="1"
            />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input
              type="radio"
              id="first-rate2"
              name="review[rating]"
              value="2"
            />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input
              type="radio"
              id="first-rate3"
              name="review[rating]"
              value="3"
            />
            <label for="first-rate3" title="Average">3 stars</label>
            <input
              type="radio"
              id="first-rate4"
              name="review[rating]"
              value="4"
            />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input
              type="radio"
              id="first-rate5"
              name="review[rating]"
              value="5"
              checked
            />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="form-group mb-3">
          <label for="review_comment" class="form-label">Comment:</label>
          <textarea
            class="form-control"
            name="review[comment]"
            id="review_comment"
            rows="3"
            required
          ></textarea>
          <div class="invalid-feedback">Please Write your experience...</div>
        </div>
        <button type="submit" class="btn col-2 btn-outline-dark">Submit</button>
      </form>
    </div>
    <% } %>
    <hr />
    <div class="mt-3">
      <h4>All Reviews:</h4>
      <% if(curListing.reviews.length==0) {%>
      <h6 style="color: rgb(185, 33, 185)">
        <u>No Review Has Been Added Yet! Be The First:-)</u>
      </h6>
      <% } %>
      <div class="row g-4">
        <% for(review of curListing.reviews){%>
        <div class="col-12 col-lg-6 border-0">
          <div class="d-flex justify-content-between">
            <h5 style="color: rgb(244, 90, 6)" class="fw-bold">
              @<%= review.author.username %>
            </h5>
            <h5 class="starability-result me3" style="scale: .8;" data-rating="<%= review.rating %>">
              Rated: <%= review.rating %> stars
            </h5>
            </div>
            <p class="bg-dark"   style="padding-top: 1px;"></p>
            <p class="col-12" style="text-align: justify;"><%= review.comment %></p>
          <% if(currUser&&currUser._id.equals(review.author._id)) {%>
          <form
            action="/listings/<%= curListing._id %>/reviews/<%= review._id %>?_method=DELETE"
            class="mb-2"
            method="post"
          >
           <button class="btn col-2 mb-2 btn-sm btn-danger">Delete</button>
          </form>

          <% } %>
        </div>
        <% }%>
      </div>
      <hr />
    </div>
    <div class="mt-3 mb-3">
      <div id="mapDiv"></div>
    </div>
  </div>
</div>
<script>
  const MAP_KEY="<%=MAP_KEY%>";
  const lng="<%= curListing.position.lng%>"
  const lat="<%= curListing.position.lat%>"
</script>
<script src="/js/showMap.js"></script>